<div id="particles-js" class="fullscreen">
  <div class="jumbotron text-center">
    {% if site.photo %}
    <img class="particles-photo" src="{{ site.photo }}" />
    {% endif %}
    <h2 class="particles-subtitle">{{ site.taglong }}</h2>
    <div class="nowrap">
      <a class="particles-icon" href="https://www.instagram.com/mohammadasadiamin/">{% include svg/instagram.svg %}</a>
      <a class="particles-icon" href="https://www.linkedin.com/in/mohammad%20amin%20asadi">{% include svg/linkedin.svg %}</a>
      <a class="particles-icon" href="https://stackoverflow.com/users/15664629/mohammad-asadi">{% include svg/stackoverflow.svg %}</a>
      <a class="particles-icon" href="https://github.com/prankshtain">{% include svg/github.svg %}</a>
    </div>
  </div>
  <div class="particles-scroll">
    <a class="particles-icon" href="#scroll">{% include svg/nav-arrow-down.svg %}</a>
  </div>
</div>
